---
layout: default
---
<div class="container">
  <aside class="sidebar">
    <img src="{{ '/assets/img/profile.svg' | relative_url }}" alt="Profile Photo" class="profile-photo">
    <h1 class="name">{{ site.data.homepage.author.name | default: site.title }}</h1>
    <div class="bio">
      {% capture bio %}{% include sidebar-bio.md %}{% endcapture %}
      {{ bio | markdownify }}
    </div>
    {% if site.data.homepage.author.contacts %}
    <hr>
    <div class="contact-icons">
      {% for contact in site.data.homepage.author.contacts %}
      <a href="{{ contact.url }}" title="{{ contact.text }}">
        <i class="{{ contact.icon }}"></i>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </aside>
  <main class="content">
    {{ content }}
  </main>
</div>
